body {
    font-family: "Brush Script MT";
    color: black;
}

p {
    font-family:"Comic Sans MS";
    color: black;
}
h2{
  color: saddlebrown;
}

ol{
  font-family: "Comic Sans MS";
}
li{
  font-family: "Comic Sans MS";
}